{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
  {{ super() }}
<style>

header {
  width: 100%;
  height: 125px;
  background: url('static/headercar.jpg') no-repeat center;
  background-size: cover;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  color: white;
  float:none;
   display:inline-block;
   vertical-align:middle;
   margin-right:-4px;
}

  </style>
{%endblock%}

{% block content %}

  <header>
          <h1 class="text-center" id="logo"> British Miles </h1>
  </header>
<hr>
<div class="row">
      <div class="col-sm-6">
          <form action="/save" method="post" class="form" role="form">
          <div class="form-group "><label class="control-label" for="postal_code_data">Postal code data</label>
          <textarea class="form-control" rows=10 id="postal_code_data" name="postal_code_data">{{postal_code_data}}</textarea>
          <div class="radio">
            <label><input type="radio" name="route choice" value="fastest"{%if route == 'fastest'%}
              checked {% endif %}>Fastest Route</label>
            <label><input type="radio" name="route choice" value="shortest"{%if route == 'shortest'%}
              checked {% endif %}>Shortest Route</label>
          </div>

            <input class="btn btn-default" id="submit_button" name="submit_button" type="submit" value="Submit">

          </div>

       </div>



  <div class="col-sm-6">
  {%if list_of_distances != None %}
  <table class=table table-condensed>

    <thead>
      <tr>
        <th>Addresses</th>
        <th> Distance (Miles) </th>
      </tr>
    </thead>
      {%for item in postal_code_list %}
        <tr>
          <th>
        {%for code in item%}
          {{code}}
        {% endfor %}
      </th>
        <th> {{list_of_distances[loop.index-1]|round|int }}</th>
        </tr>
      {% endfor %}
    </table>
  </form>
  <form action="/download" method ="post" class="form" role="form">
    <input type="hidden" name="postal_code_data" value="{{postal_code_data}}">
    <input type="hidden" name="route_choice" value ="{{route}}">
    <input type="hidden" name ="list_of_distances" value="{{list_of_distances}}">
    <input type=submit class= "btn btn-primary btn-lg" name="format" value="Export CSV">
  <!--  <input type=submit class= "btn btn-success btn-lg" name="format" value="Google Sheet"> -->
  </form>
  </div>

{% endif %}
{% endblock %}
